<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>Hello Spring Boot!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="css/bootstrap.3.3.7.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon"
              href="images/favicon.ico"/>
        <link href="css/ssstyle.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/datepicker.css" rel="stylesheet">
        <link href="css/hrstyle.css" rel="stylesheet">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.3.3.7.min.js"></script>
        <script src="js/jquery.3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/bootstrap-filestyle.js"></script>
        <script type="text/javascript" src="js/tooltip.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Header -->
            <div th:replace="fragment/super_admin_header :: super_admin_header"></div>
        <!-- Menu -->
            <div th:replace="fragment/super_admin_menu :: super_admin_menu"></div>
            <div layout:fragment="content">
                <p>Content goes here...</p>
            </div>
        <!-- Footer-->

            <footer>
                <div th:replace="fragment/footer :: footer">&copy; 2017 blog.codeleak.pl</div>
            </footer>
        </div>
    </body>
</html>