<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Popup2 -->
<div class="modal fade bs-example-modal" id="create-company-popup" tabindex="-1" th:fragment="create-company-popup"
     role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog modal-dialog-mid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="my_ModalLabel">Create Comapany</h4>
                </div>

                <div class="modal-body form">
                    <div class="form popup-width">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="control-label text-right">Comapny Name</label>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label text-right">Phone No</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label text-right">Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="email" ></inpit>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label text-right"> Address </label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="popup-width">
                            <button type="submit" class="btn btn-sutisoft">Save</button>
                            <button type="button" class="btn btn-sutisoft">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <!-- End Popup2 -->
</div>
</body>
</html>