<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  th:fragment="admin_menu">
<!-- Start Menu -->
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{../dashBoard/}">Home</a></li>
                <li><a href="#" th:href="@{/address/}">Address</a></li>
                <li><a href="#" th:href="@{/filedAddress/}">Field Address</a></li>
                <li><a href="#" th:href="@{/customer/}">Customers</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Tickers</a></li>
                <li><a href="#">Hotel PPT</a></li>
                <li><a href="#">SMD Sign Up</a></li>
                <li><a href="#">User DOSM at NHCC as DOSM</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Menu -->

</body>
</html>