<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SutiPMS</title>
    <!-- Bootstrap -->
    <script type="text/javascript" src="../js/super_admin/super_admin.js"></script>

</head>


<body th:fragment="message-success">

<!-- Start BodyContent -->
<div class=" BodyContent" >
    <div>

        <div th:switch="${message}">
            <div th:case="updateSuccess" id="updateSuccessMessage"
                 class="alert alert-success massage text-center" align="center"
                 th:text="#{common.update.success}">hari</div>
            <div th:case="updateError" id="updateErrorMessage"
                 class="alert alert-danger massage text-center" align="center"
                 th:text="#{common.update.error}"></div>
           <!-- <div th:case="*" id="updateErrorMessage1"
                 class="alert alert-danger massage text-center" align="center"
                 th:text="${message}">ramesh</div>-->


    </div>
</div>
<!-- End BodyContent -->
</div>



</body>
</html>